/*midnight bangkok font*/
@font-face {
    font-family: 'midnight_bangkokregular';
    src: url('fonts/midnight-bangkok-webfont.woff2') format('woff2'),
         url('fonts/midnight-bangkok-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*general formatting*/
body {
    background-color: #c1c1c1;
}
h1 {
    text-align: center;
    font-family: "midnight_bangkokregular";
}
/*main nav*/
.mainNav {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}
.mainNav li {
    padding-top: 10px;
    margin-left: -25px;
}
.addBtn {
    height: 60px;
    padding-top: 10px;
}
/*style buttons*/
.btn {
    width: 110px;
}
/*page header*/
.pageHeader {
    background: #000;
    color: #FFF;
}
.pageHeader h1 {
    text-align: center;
    font-family: "midnight_bangkokregular";
    padding-top: 10px;
}
/*construction image*/
.construction {
    height: 100px;
    display: block;
    margin: 100px auto 0 auto;
}
/*format card pictures*/
.cardsList div img {
    width: 250px;
} 
/*fix main margin so all content appears above footer
*/
main {
    margin-bottom:50px;
}
/*page footer*/
.pageFooter {
    background: #000;
    color: #FFF;
}
.navbar {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
}
.pageFooter ul li {
    display: inline;
}
.pageFooter ul li a {
    color: #FFF;
}